@use "../../../sass/abstracts/index" as *;

.modal {
  height: 44rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  grid-template-rows: min-content;
  justify-content: space-between;
  padding: 4.5rem 2.5rem 1.5rem 2.5rem;
  border-radius: 15px;
  backdrop-filter: saturate(91%) blur(6px);
  background-color: rgba(241, 241, 241, 0.842);
  color: #303030;
  transition: all 0.2s ease-in-out;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: relative;
  z-index: 11;

  @include respond(tab-port) {
    width: 30rem;
    right: 1rem;
  }
  &-parent {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: minmax(22rem, 61rem);
    background-color: rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    right: 0;
    -webkit-animation: opacity1 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: opacity1 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    z-index: 100;
  }

  &-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    justify-items: center;
    align-content: center;
    gap: 1rem;
    overflow: hidden;

    @include respond(tab-port) {
      grid-template-rows: repeat(auto-fit, minmax(19rem, 19.5rem));
    }
  }

  &-title {
    justify-self: center;
    font-family: "Anek Latin", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-stretch: 125%;
    font-size: 3.5rem;
    line-height: initial;
    color: hsl(250.9deg, 46.5%, 58.2%);
  }

  &-element {
    display: grid;
    background-color: #dbdbdb;
    color: rgb(35, 66, 66);
  }
  &-p {
    text-align: center;
  }

  button:nth-child(1) {
    position: absolute;
    right: 18px;
    top: 19px;
  }

  & span:nth-child(2) {
    display: inline-block;
    font-size: 15rem;
    background-color: #00dbde;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 44px;
    -webkit-animation: wobble-hor-bottom 0.8s cubic-bezier(0.23, 1, 0.32, 1)
      0.5s both;
    animation: wobble-hor-bottom 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.5s both;
  }
}

@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes opacity1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
